.container{
  position: relative;
  margin: 1em 0;
}

.cover {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.progress{
  margin: 0.5em 0;
}

.mask__menu{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;

  .mask__menu__item{
    width: 80px;
    height: 80px;
  }
}
